- create
- methods and operations
   - union
   - intersaction
   - symmetric difference
   - issubset
   - issuperset

In [2]:
x = {1,2,3,4,5,6}
y = {1,2,3,4,5,6,7,8,9,10,11,10,9,8,7,6,5,4,3,2,1}
print(x)
print(y)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
a = set("apple")
print(a)

{'a', 'l', 'e', 'p'}

In [4]:
lst = ['a','r','f','d','d',5]
lstt = set(range(45))
print(set(lst),end="  apple  ")
print(lstt,end="")

{5, 'r', 'd', 'a', 'f'}  apple  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44}

In [5]:
data = set()
data.add(26)
data.add(30)
data.add("apple")
for i in range(12):
    data.add(i)
print(data)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'apple', 26, 30}

In [7]:
data.discard(30)
print(data)
data.remove(26)
print(data)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'apple', 26}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'apple'}

In [24]:
a = {1,2,3,4,5}
b = {6,78,9,6,5,4,32,2}
c = {3,445,5,68,23,2,1,5,67,4,2}
print(a)
print(b)
print(c)
print(a.union(b))
print(a.union(b).union(c))
print(a|b|c)
print(a.intersection(b))
print(a.intersection(b).intersection(c))
print(a&b)
print(a.difference(b))
print(a-b)
print(b-a)
print(a^b)
print(a<=b)
print(a>=b)
print(a.isdisjoint(b))
v = {2,3}
r = {2}
print(v.issuperset(r))
print(r.issubset(v))

{1, 2, 3, 4, 5}
{32, 2, 4, 5, 6, 9, 78}
{1, 2, 3, 68, 5, 67, 4, 23, 445}
{32, 1, 2, 3, 4, 5, 6, 9, 78}
{32, 1, 2, 3, 4, 5, 6, 68, 67, 9, 78, 23, 445}
{32, 1, 2, 3, 4, 5, 6, 68, 67, 9, 78, 23, 445}
{2, 4, 5}
{2, 4, 5}
{2, 4, 5}
{1, 3}
{1, 3}
{32, 9, 6, 78}
{1, 3, 6, 9, 78, 32}
False
False
False
True
True